extends ../layout
include ../mixins

block content
  .row
    - const CH = channelHandle
    - const WRITE_URL = "/forum/" + CH +"/write"
    +ForumTabs(CH)

    h1.py-4=CH
    // Post List
    ul.post-list.list-group
      li.list-group-item.d-flex.justify-content-between.align-items-center
        span.post-number 100
        span.post-title Hello World!
        span.post-author Author
        span.post-date 2023-06-08
      li.list-group-item.d-flex.justify-content-between.align-items-center
        span.post-number 101
        span.post-title Hello World!
        span.post-author Author
        span.post-date 2023-06-08
      //- each post in posts
      //-   li.list-group-item.d-flex.justify-content-between.align-items-center
      //-     span.post-number #{post.number}
      //-     span.post-title #{post.title}
      //-     span.post-author #{post.author}
      //-     span.post-date #{post.date}
    .btns.d-flex.justify-content-between
      .btns__left
        button.btn.btn-outline-dark.mt-4.me-2(type='button') 전체글
        button.btn.btn-outline-dark.mt-4(type='button') 추천글
      .btns__right
        a.btn.btn-primary.mt-4(href=WRITE_URL) 글쓰기

    // Pagination
    div(aria-label='Page navigation')
      ul.pagination.justify-content-center.mt-4
        li.page-item.disabled
          a.page-link(href='#', tabindex='-1', aria-disabled='true') Previous
        li.page-item.active
          a.page-link(href='#') 1
        li.page-item
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
        li.page-item
          a.page-link(href='#') Next

  
block scripts
    script.
        const insightTab = document.getElementById("insightTab");
        const consortiumTab = document.getElementById("consortiumTab");
        const colloquiumTab = document.getElementById("colloquiumTab");

        const position = window.location.href.split("/").pop();

        insightTab.classList.remove("active");
        consortiumTab.classList.remove("active");
        colloquiumTab.classList.remove("active");

        if (position === "insight") {
            insightTab.classList.add("active");
        } else if (position == "consortium") {
            consortiumTab.classList.add("active");
        } else {
            colloquiumTab.classList.add("active");
        }